.stats-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0 10px 0;
}

.stats-data:first-child {
    margin: 0 10px 0 0;
}

.stats-data {
    font-weight: 700;
}